.about-section {
  background: #000;
  color: white;
  padding: 8rem 4rem;
}

.about-container {
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 10vh;
}

.about-title {
  font-size: 72px;
  font-weight: bold;
  margin: 0;
  flex-shrink: 0;
}

.about-description {
  font-size: 34px;
  line-height: 1.8;
  width: 60vw;
  margin: 0;
  text-align: justify;
}

.word {
  display: inline;
  margin-right: 0.2em;
}

.reveal-line {
  overflow: hidden;
  transform: translateY(0);
  margin-bottom: 1rem;
}
.about-line {
  height: 0.5px;
  width: 100%;
  margin-bottom: 5rem;
  transform: scaleX(0);
  opacity: 0;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.6) 20%,
    white 50%,
    rgba(255, 255, 255, 0.6) 80%,
    rgba(255, 255, 255, 0.1) 100%
  );

  box-shadow:
    0 0 8px rgba(255, 255, 255, 0.4),
    0 0 20px rgba(255, 255, 255, 0.2);
}

/* Centered content */
.about-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-text {
  font-size: 26px;
  line-height: 2;
  color: white;
  max-width: 900px;
  width: 100%;
}
.line {
  overflow: hidden;
  transform: translateY(0);
}

/* Responsive */
@media (max-width: 1024px) {
  .about-section {
    padding: 6rem 3rem;
  }

  .about-container {
    gap: 5vh;
  }

  .about-title {
    font-size: 56px;
  }

  .about-description {
    font-size: 38px;
    width: 70vw;
  }
}

@media (max-width: 768px) {
  .about-section {
    padding: 4rem 2rem;
  }

  .about-container {
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
  }

  .about-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .about-description {
    font-size: 24px;
    width: 100%;
    line-height: 1.7;
    text-align: left;
  }

  .about-line {
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .about-section {
    padding: 3rem 1.5rem;
  }

  .about-container {
    flex-direction: column;
    /* gap: 1.5rem; */
  }

  .about-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 1rem;
  }

  .about-description {
    font-size: 18px;
    width: 100%;
    line-height: 1.6;
    text-align: justify;
  }

  .about-line {
    margin-bottom: 2rem;
  }
}
