#root {
  margin: 0;
  font-family: var(--font-geist-sans);
}
body {
  margin: 0;
  background-color: #000000;
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre,
kbd,
samp {
  font-family: var(--font-geist-mono);
}
